[functions]
  directory = "src/netlify/functions"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[redirects]]
  from = "/assets/images/*"
  to = "/.netlify/images?url=/assets/images/:splat"
  status = 200
